button {
  font-size: var(--large-font-size);
  font-weight: var(--bold);
  background-color: transparent;
  border: none;
  outline: none;
  width: 1.5em;
  height: 1.5em;
  color: var(--text-color);
}
