<li class="daily-forecast flex column align-center gap-small">
    <span class="day">
        {{ dailyForecast.Date | date : 'EEEE' }}
    </span>
    <div class="icon-container">
        <app-weather-icons
            [icon]="dailyForecast.Day.Icon"
            [alt]="dailyForecast.Day.IconPhrase"
        />
    </div>
    <div class="temperatures flex align-center gap-small">
        <div class="min">
            <app-weather-degrees [degrees]="minDegrees" [method]="method" />
        </div>
        <span>-</span>
        <div class="max">
            <app-weather-degrees [degrees]="maxDegrees" [method]="method" />
        </div>
    </div>
</li>
