<li class="daily-forecast">
    <div class="day">
        {{ dailyForecast.Date | date : 'EEEE' }}
        <app-weather-icons
            [icon]="dailyForecast.Day.Icon"
            [alt]="dailyForecast.Day.IconPhrase"
        ></app-weather-icons>
    </div>
    <div class="night">
        <app-weather-icons
            [icon]="dailyForecast.Night.Icon"
            [alt]="dailyForecast.Night.IconPhrase"
        ></app-weather-icons>
    </div>
    <div class="tempertures">
        <div class="max">
            <app-weather-degrees
                [degrees]="maxDegrees"
                [method]="method"
            ></app-weather-degrees>
        </div>
        <div class="min">
            <app-weather-degrees
                [degrees]="minDegrees"
                [method]="method"
            ></app-weather-degrees>
        </div>
    </div>
</li>
