.weather-container {
  margin-top: calc(2 * var(--extra-large-gap));
  background-color: var(--near-background-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--medium-border-radius);
  padding: var(--large-gap);
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--large-gap);
  font-size: var(--large-font-size);
  text-align: center;

  button {
    background-color: var(--favorite-color);
    border: none;
    padding: var(--small-gap) var(--medium-gap);
    font-size: var(--large-font-size);
    color: var(--text-color);
  }
}
