<div class="page weather flex column align-center">
    <div class="flex align-center gap-medium wrap justify-center">
        <app-search-cities />
        <div class="flex align-center gap-medium">
            <app-toggle-methods
                [method]="method$ | async"
                (toggleMethod)="onToggleMethod()"
            />
            <app-geolocation (getCityByGeolocation)="onSetCity($event)" />
        </div>
    </div>
    <div
        class="flex column align-center gap-large justify-center w100 weather-container"
    >
        <div class="w100">
            <app-weather-view
                *ngIf="weather"
                [weather]="weather"
                [selectedCity]="selectedCity$ | async"
                [method]="method$ | async"
                [favoriteCities]="favoriteCities$ | async"
                (toggleFavorite)="onToggleFavorite($event)"
            />
        </div>
        <div class="w100">
            <app-forecast-view *ngIf="forecast" [forecast]="forecast" />
        </div>
        <div class="w100">
            <app-area-chart-forecast *ngIf="forecast" [forecast]="forecast" />
        </div>
    </div>
</div>
