<div class="page weather flex column align-center">
    <div class="flex align-center gap-medium wrap justify-center">
        <app-search-cities />
        <div class="flex align-center gap-medium">
            <app-toggle-methods
                [method]="method$ | async"
                (toggleMethod)="onToggleMethod()"
            />
            <app-geolocation (getCityByGeolocation)="onSetCity($event)" />
        </div>
    </div>
    <div
        class="flex column align-center gap-large justify-center w100 weather-container"
    >
        <ng-container *ngIf="weather && forecast && !hasError">
            <div class="w100">
                <app-weather-view
                    [weather]="weather"
                    [selectedCity]="selectedCity$ | async"
                    [method]="method$ | async"
                    [favoriteCities]="favoriteCities$ | async"
                    (toggleFavorite)="onToggleFavorite($event)"
                />
            </div>
            <div class="w100">
                <app-forecast-view *ngIf="forecast" [forecast]="forecast" />
            </div>
            <div class="w100">
                <app-area-chart-forecast [forecast]="forecast" />
            </div>
        </ng-container>

        <div *ngIf="isLoad && !hasError" class="w100">
            <app-skeleton-weather [theme]="theme$ | async" />
        </div>

        <div *ngIf="hasError" class="error-container">
            Something happened please try again later
            <button (click)="onTryAgain()">Try again</button>
        </div>
    </div>
</div>
