<div class="page weather flex column align-center">
    <div class="flex align-center gap-medium">
        <app-search-cities></app-search-cities>
        <app-toggle-methods
            [method]="method$ | async"
            (toggleMethod)="onToggleMethod()"
        ></app-toggle-methods>
        <app-geolocation
            (getCityByGeolocation)="onSetCity($event)"
        ></app-geolocation>
    </div>
    <div
        class="flex column align-center gap-large justify-center w100 weather-container"
    >
        <div class="w100">
            <app-weather-view
                *ngIf="weather"
                [weather]="weather"
                [selectedCity]="selectedCity$ | async"
                [method]="method$ | async"
                [favoriteCities]="favoriteCities$ | async"
                (toggleFavorite)="onToggleFavorite($event)"
            ></app-weather-view>
        </div>
        <div class="w100">
            <app-forecast-view
                *ngIf="forecast"
                [forecast]="forecast"
            ></app-forecast-view>
        </div>
    </div>
</div>
