.header {
  background-color: var(--near-background-color);
  padding: var(--large-gap);

  ul {
    display: flex;
    gap: var(--large-gap);

    li {

      a {
        text-decoration: none;
        padding: var(--small-gap) var(--large-gap);
        font-size: var(--large-font-size);
        border-radius: var(--medium-border-radius);
        display: block;
        transition: var(--transition);
        color: var(--light-gray);

        &:not(.active):hover {
          scale: 1.1;
        }

        &.active {
          color: var(--text-color);
        }
      }
    }
  }
}
