.header {
  background-color: var(--near-background-color);
  padding: var(--large-gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--large-font-size);


  ul {
    display: flex;
    gap: var(--large-gap);

    li {

      a {
        text-decoration: none;
        padding: var(--small-gap) var(--large-gap);
        font-size: var(--large-font-size);
        border-radius: var(--medium-border-radius);
        display: block;
        transition: var(--transition);
        color: var(--light-gray);
        display: flex;
        gap: var(--small-gap);

        @media (max-width: 800px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0;

          .text {
            font-size: var(--small-font-size);
          }
        }

        &:not(.active):hover {
          scale: 1.1;
        }

        &.active {
          color: var(--text-color);
        }
      }
    }
  }
}
