<div class="header">
    <nav>
        <ul>
            <li>
                <a routerLink="/weather" routerLinkActive="active">
                    <fa-icon [icon]="faCloudSun"></fa-icon>
                    Weather
                </a>
            </li>
            <li>
                <a routerLink="/favorites" routerLinkActive="active">
                    <fa-icon [icon]="faHeart"></fa-icon>
                    Favorites</a
                >
            </li>
        </ul>
    </nav>

    <app-toggle [(value)]="isLightMode"></app-toggle>
</div>
