<div class="header">
    <nav>
        <ul>
            <li>
                <a routerLink="/weather" routerLinkActive="active">
                    <fa-icon [icon]="faCloudSun" />
                    <span class="text">Weather</span>
                </a>
            </li>
            <li>
                <a routerLink="/favorites" routerLinkActive="active">
                    <fa-icon [icon]="faHeart" />
                    <span class="text">Favorites</span>
                </a>
            </li>
        </ul>
    </nav>

    <app-toggle [(value)]="isLightMode" />
</div>
