<div class="search-container">
    <div class="input-container">
        <input
            (keydown)="onKeyDown($event)"
            autocomplete="off"
            [(ngModel)]="value"
            type="text"
            (focus)="isFocused = true"
            (blur)="onBlur()"
        />
        <fa-icon *ngIf="!isLoad" [icon]="faSearch"></fa-icon>
        <div *ngIf="isLoad" class="loader-container">
            <app-loader></app-loader>
        </div>
    </div>
    <div [@open-options]="showOptionsSituation" class="options">
        <div *ngIf="isLoad">
            <ngx-skeleton-loader
                count="5"
                appearance="line"
                animation="pulse"
                [theme]="skeletonTheme"
                loadingText="Loading..."
            ></ngx-skeleton-loader>
        </div>
        <ng-container *ngIf="!isLoad">
            <ng-container
                *ngFor="let option of options; let i = index"
                [class.active]="i === highlightedIndex"
            >
                <button (click)="onOptionClick(option)" class="option">
                    {{ option[labelKey] }}
                </button>
            </ng-container>
        </ng-container>
    </div>
</div>
