.weather-view {

  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: var(--extra-large-font-size);

  .icon-container {
    width: 90px;
    height: 110px;
  }

  .date {
    font-size: var(--small-font-size);
    font-weight: var(--bold);
  }

  .text,
  .country {
    font-size: var(--medium-font-size);
  }

  .text {
    font-weight: var(--bold);
  }

  .favorite {
    background-color: transparent;
    border: none;
    color: var(--background-color);
    font-size: 4rem;
    cursor: pointer;

    &.active {
      color: var(--favorite-color)
    }

  }

  @media (max-width: 500px) {
    .first-section {
      display: none;
    }
  }


}
