<div class="weather-view">
    <div class="flex column align-center first-section">
        <div class="icon-container">
            <app-weather-icons
                [icon]="weather.WeatherIcon"
                [alt]="weather.WeatherText"
            />
        </div>
        <span class="text">{{ weather.WeatherText }}</span>
    </div>
    <div class="flex column">
        <div *ngIf="selectedCity" class="flex column">
            <span class="date">{{
                weather.LocalObservationDateTime | date
            }}</span>
            <span class="country">{{
                selectedCity.Country.LocalizedName
            }}</span>
            <span class="city">{{ selectedCity.LocalizedName }}</span>
        </div>
        <app-weather-degrees [degrees]="degreesByMethod" [method]="method" />
    </div>
    <div>
        <button
            (click)="toggleFavorite.emit(selectedCity)"
            class="favorite"
            [ngClass]="{ active: isSelectedCityFavorite }"
        >
            <fa-icon [icon]="faHeart"></fa-icon>
        </button>
    </div>
</div>
